<a href="https://colab.research.google.com/github/19PA1A0563/surendra/blob/master/Diabetes_ispy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [0]:
from sklearn.ensemble import AdaBoostClassifier

In [0]:
from sklearn.ensemble import RandomForestClassifier

In [0]:
from sklearn.tree import DecisionTreeClassifier

In [0]:
from sklearn import metrics

In [21]:
cc=pd.read_csv("diabetes.csv")
cc

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [22]:
cc.isna().any()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

In [23]:
cc.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [0]:
x=cc[["Pregnancies","Glucose","BloodPressure","SkinThickness","Insulin","BMI","DiabetesPedigreeFunction","Age"]]
y=cc[["Outcome"]]

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [33]:
model=rdc.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [0]:
rdc=RandomForestClassifier(n_estimators=9)

In [0]:
y_pred1=model.predict(x_test)

In [52]:
print("Accurasy :",metrics.accuracy_score(y_test,y_pred1))

Accurasy : 0.7597402597402597

In [0]:
abc=AdaBoostClassifier()

In [54]:
model2=abc.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [0]:
y_pred2=model2.predict(x_test)

In [56]:
print("Accuracy :",metrics.accuracy_score(y_test,y_pred2))

Accuracy : 0.7337662337662337

In [0]:
dtc=DecisionTreeClassifier()

In [0]:
model3=dtc.fit(x_train,y_train)

In [0]:
y_pred3=model3.predict(x_test)

In [60]:
print("Accuracy :",metrics.accuracy_score(y_test,y_pred3))

Accuracy : 0.7402597402597403

# **Conclusion:**
random forest classifier is performing better than adaboost classifier and decision tree classifier because it accuracy is more

random forest will reduce variance part of error rather than bias part

performance of the classifier is depend upon the application and nature of the available data set